*{
    box-sizing: border-box;
}

body {
    font-family: tahoma , arial;
}

.container {
    margin: 20px;
    width: 1000px;
}

.row{
    display: flex;
}   

.hr{
    border: 1px solid #eee
}
.game-info{
    display: flex;
}

.game-info .game-name{
 flex: 1;

}

.game-info .category{
    flex: 1;
   text-align: center;
   }

   .game-info .category span{
    text-transform: capitalize;
    color: #E91e63;
    font-weight: bold;
   }

   .hangman-draw{
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
   }

   .hangman-draw .the-raw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    display: none;
   
   }
   .hangman-draw .the-stand{
    display: none;
   }
   .hangman-draw .the-stand::before{
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
   }
   .hangman-draw .the-hang{
    display: none;
   }
   .hangman-draw .the-hang::before{
    content: '';
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100px;
    left:30px;
    top: 10px;

   
}
.hangman-draw .the-hang::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;

    left: 130px;
    top:11px;
    
}

.hangman-draw .the-rops{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left:100px;
    top: 40px;
    position: absolute;
    border: 4px dashed #222;
    display: none;
}

.hangman-draw .the-man .the-head{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left:110px;
    top: 50px;
    display: none;
}

.hangman-draw .the-man .body{
    position: absolute;
    height: 120px;
    width: 4px;
background-color: #222;
left: 134px;
top: 100px;
display: none;
}

.hangman-draw .the-man .hands{
    display: none;
}
.hangman-draw .the-man .legs{
    display: none;
}

.hangman-draw .the-man .hands::before {

left: 89px;
transform: rotate(30deg);
}
.hangman-draw .the-man .hands::after {
    content: '';
    left: 131px;
    transform: rotate(-30deg);
}

.hangman-draw .the-man .hands::before,
.hangman-draw .the-man .hands::after {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 130px;
    position: absolute;
}

.hangman-draw .the-man .legs::before {

    left: 89px;
    transform: rotate(-30deg);
    }
    .hangman-draw .the-man .legs::after {
        content: '';
        left: 131px;
        transform: rotate(30deg);
    }
    
    .hangman-draw .the-man .legs::before,
    .hangman-draw .the-man .legs::after {
        content: '';
        width: 50px;
        height: 4px;
        background-color: #222;
        top: 230px;
        position: absolute;
    }
    .hangman-draw.wrong-1 .the-raw {
        display: block;
      }
      .hangman-draw.wrong-2 .the-stand {
        display: block;
      }
      .hangman-draw.wrong-3 .the-hang {
        display: block;
      }
      .hangman-draw.wrong-4 .the-rops {
        display: block;
      }
      .hangman-draw.wrong-5 .the-head {
        display: block;
      }
      .hangman-draw.wrong-6 .body {
        display: block;
      }
      .hangman-draw.wrong-7 .hands {
        display: block;
      }
      .hangman-draw.wrong-8 .legs {
        display: block;
      }
    .letters{
        flex: 1;
        padding: 15px;
        text-align: center;

    }
    .letter-box{
background-color: cadetblue;
color: #eee;
display: inline-block;
width: 55px;
height: 55px;
font-size: 24px;
margin-right: 10px;
margin-bottom: 12px;
text-transform: capitalize;
cursor: pointer;
line-height: 55px;
}

.letters-guss{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background-color: #f8f8f8;
    min-height: 104px;
    padding: 20px;
}

.letters-guss span{
    width: 60px;
    height: 60px;
    background-color: #fdfdfd;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 4px solid #222;
    line-height: 60px;
    margin-right: 10px;
    text-transform: uppercase;
    transition: .3s;
    text-align: center;
}

.letters-guss .empty-span{
    background-color: #f8f8f8;
    border-bottom: none;
    position: relative;
}

.clicked{
    background-color: #222;
    opacity: .2;
  pointer-events: none;
}